<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post" th:action="@{/register}">
        First name: <input type="text" name="firstName"><br/>
        Last name: <input type="text" name="lastName"><br/>
        Username: <input type="text" name="username"><br/>
        Password: <input type="password" name="password"><br/>
        <input type="submit" value="SignIn">
    </form>
</body>
</html>